/* Button CSS */

.button-U {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: #877bae;
  text-decoration: none;
  justify-content: center;
  display: flex;
  
}

.log {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #877bae;
  text-decoration: none;
  
  
}

.button-U:hover {
  color: white;
  /* width:; */
  box-shadow: 0 0 20px #877bae;
  background-color: #877bae;
}
/* navbar.css */

.logo {
  width: 50px; /* Adjust logo size for smaller screens */
  height: auto;
}

.brand-name {
  font-size: 1rem; /* Adjust brand name size for responsiveness */
  text-align: left;
}

.navbar-nav {
  flex-direction: column;
}


@media (min-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }

  .brand-name {
    font-size: 1.2rem;
  }

  .login-btn,
  .register-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .brand-name {
    font-size: 0.9rem;
    line-height: 1.2;
  }

  .login-btn,
  .register-btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .navbar-collapse {
    text-align: center;
  }

  .nav-link {
    margin-bottom: 10px;
  }
}
