/* Styling for the floating card effect */
.floating-card {
  background-color: white;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 30px 30px #572a77;
  position: relative;
}

/* Floating effect on hover */
.floating-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(198, 72, 218, 0.608);
}

/* Blurry background shadow for extra floating effect */
.floating-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
  filter: blur(100px);
  transition: opacity 0.3s ease;
}

/* Enhances the blur effect on hover */
.floating-card:hover:before {
  opacity: 1;
}

/* search box css */

.search-box-disease {
  cursor: pointer;
  color: #572a77;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-icon-disease {
  position: relative;
  top: 0;
  right: 35px;
}
.input-field-disease {
  width: 80%;
}

/* disease readmore button styling */


.button-disease-readmore {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 10px;
  width: 150px;
  padding: 10px 0;
  box-shadow: inset 0px 5px 5px 2px rgba(0, 0, 0, 0.2),
    inset 6px 6px 10px 0 rgba(255, 255, 255, 0);
  transition: 0.4s;
  color: #000;
  display: flex;
  justify-content: center;
}

.button-disease-readmore:hover {
  color: white;
  background-color: #572a77;
}
