.profile-left-section {
  background-color: #bcd4e6;
  width: 100%;
  height: 641px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.profile-icon {
  margin-top: 10px;
}

h2 {
  margin-bottom: 10px;
}

.edit-profile-btn {
  background: linear-gradient(to right, #a085ff, #6b6aff);
  width: 15%;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease;
}

.edit-profile-btn:hover {
  background: linear-gradient(to right, #957dff, #5e5aff);
  box-shadow: 0 0 5px #5f76af;
  border: none;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .container-fluid {
    padding: 15px;
  }

  .profile-left-section {
    flex-direction: column;
    height: auto;
  }

  .profile-image {
    max-width: 250px;
    height: auto;
  }

  .profile-icon {
    margin-top: 20px;
    width: 80px;
    height: auto;
  }

  h1,
  h2 {
    text-align: center;
  }

  .edit-profile-btn {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 10px;
  }

  .profile-left-section {
    padding: 20px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }

  .profile-icon {
    width: 70px;
    margin-top: 15px;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  input {
    padding: 10px;
    font-size: 14px;
  }

  .edit-profile-btn {
    width: 50%;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .profile-left-section {
    padding: 10px;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }

  .profile-icon {
    width: 50px;
    margin-top: 10px;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  input {
    padding: 8px;
    font-size: 12px;
  }

  .edit-profile-btn {
    width: 70%;
    padding: 8px;
    font-size: 12px;
  }
}
