/* Custom styles for the doctor cards */

.doctor-card:hover {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(9, 132, 180, 0.885);
  background-color: #fff;
  transition: 0.3s ease-in-out;
  transform: translateY(-10%);
}

.doctor-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.doctor-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.doctor-title {
  color: #6c757d;
}

.search-box-doctor {
  cursor: pointer;
  color: rgba(9, 132, 180, 0.885);
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-icon-doctor {
  position: relative;
  top: 0;
  right: 35px;
}
.input-field-doctor {
  width: 50%;
}

/* Button CSS */

.button-D {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  width: 170px;
  padding: 10px 0;
  box-shadow: inset 0px 5px 5px 2px rgba(0, 0, 0, 0.2),
    inset 6px 6px 10px 0 rgba(255, 255, 255, 0);
  transition: 0.4s;
  color: #000;
  display: flex;
  justify-content: center;
}

.button-D:hover {
  color: #000;
  background-color: #4fabe06f;
  box-shadow: inset 0px 5px 5px 2px rgba(0, 0, 0, 0.2),
    inset 6px 6px 10px 0 rgba(255, 255, 255, 0), 0 0 20px #877bae;
}
